.container {
  max-width: 600px;
  margin-top: 10px;
  border: 3px rgb(244, 244, 248);
  border-radius: 15px;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  opacity: 0.9;
}

body {
  font-family: copperplate, papyrus, fantasy;
}

.bg-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

button {
  display: block;
  margin: 0;
  background: green;
  color: white;
  padding: 5px 5px;
  border-radius: 15;
  opacity: 0.9;
  width: 120px;
}

h1 {
  color: white;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
}

.overview {
  margin-bottom: 50px;
}
.float-left {
  float: left;
}

img {
  font-size: 80px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 100px;
  width: 100px;
  top: -34px;
}

.weather-temperature strong {
  color: white;
  font-size: 65px;
  line-height: 1px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature {
  color: white;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

#forecast {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  padding: 10px;
  background: #bf49ff;
  border-radius: 15px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.weather-forecast-date {
  font-size: 16px;
  color: white;
}

.weather-temperature-min {
  opacity: 0.5;
}

.weather-forecast {
  font-size: 13px;
}

footer {
  color: white;
  display: block;
  width: 400px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  opacity: 0.9;
  margin: 0 auto;
}

.fa {
  padding: 20px;
  font-size: 15px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background: #3458a7;
  color: white;
  width: 60px;
  border-radius: 15px;
}

.fa-linkedin {
  background-color: #007bb5;
  color: white;
  width: 60px;
  border-radius: 15px;
}
